In [1]:
import json
import numpy as np
import pandas as pd

In [6]:
page = "page1"

In [7]:
df = pd.read_excel('Keywords Excel/'+page+'.xlsx')
df.head()

             keyword
0          Full name
1      Nationality 1
2  Identity document
3           Passport
4        National ID

In [8]:
df.shape

(61, 1)

In [9]:
keywords = df.keyword.values.tolist()

In [10]:
records = {}
records["keywords"] = []

In [11]:
for data in keywords:
    records["keywords"].append({
        "word": data,
    })

In [12]:
records

{'keywords': [{'word': 'Full name'},
  {'word': 'Nationality 1'},
  {'word': 'Identity document'},
  {'word': 'Passport'},
  {'word': 'National ID'},
  {'word': 'Nationality 2 (if dual)'},
  {'word': 'Passport / National ID'},
  {'word': 'Date of birth'},
  {'word': 'KRA Pin No.'},
  {'word': 'Gender'},
  {'word': 'Male'},
  {'word': 'Female'},
  {'word': 'Marital status'},
  {'word': 'Married'},
  {'word': 'Single'},
  {'word': 'Other'},
  {'word': 'Education'},
  {'word': 'High School'},
  {'word': 'Diploma'},
  {'word': 'Undergraduate'},
  {'word': 'Post-graduate'},
  {'word': 'Other'},
  {'word': 'Telephone (Mobile)'},
  {'word': 'Telephone (Office)'},
  {'word': 'Preferred email address (Mandatory)'},
  {'word': 'Mailing address'},
  {'word': 'Type of residence'},
  {'word': 'Self-owned'},
  {'word': 'Rented'},
  {'word': 'Company provided'},
  {'word': 'Other'},
  {'word': 'Physical Residential address'},
  {'word': 'Preferred Delivery address'},
  {'word': 'Mailing address'},
  {'word': 'Residential Address'},
  {'word': 'Employee’s Address'},
  {'word': 'Nature of employment'},
  {'word': 'Salaried'},
  {'word': 'Self-employed'},
  {'word': 'Employment terms'},
  {'word': 'Permanent'},
  {'word': 'Contract'},
  {'word': 'Others'},
  {'word': 'Name of employer / business'},
  {'word': 'Occupation / designation'},
  {'word': 'Employment / staff number'},
  {'word': 'Contact at employer'},
  {'word': 'Contract tenure'},
  {'word': 'Contract expiry'},
  {'word': 'Duration at current organisation'},
  {'word': 'Years'},
  {'word': 'Months'},
  {'word': 'Salary receipt date'},
  {'word': 'Monthly gross income'},
  {'word': 'Rental income'},
  {'word': 'Address of employer (for salaried employees) / Address of business (for self-employed)'},
  {'word': 'Account with Standard Chartered Bank (if applicable)'},
  {'word': 'Borrowing details'},
  {'word': 'Bank Name'},
  {'word': 'Original Loan Amount'},
  {'word': 'Monthly loan instalment'}]}

In [13]:
with open('corrdinate_detection\\raw_keywords\\'+page+'.json', 'w') as json_file:
    json.dump(records, json_file)

In [14]:
px_df = pd.read_json("Keywords JSON\\"+page+".json")
px_df.head()

             keyword  keyword_x  keyword_y
0          Full name        108        202
1           Passport       1235        314
2        National ID       1433        314
3      Nationality 1        107        317
4  Identity document        942        317

In [16]:
px_df.to_excel("Keywords Record\\"+page+".xlsx")

In [114]:
rs_df = pd.read_excel("Keywords Record\\"+page+".xlsx")

In [115]:
rs_df.head()

,Unnamed: 0,keyword,keyword_x,keyword_y,val_x,val_y,val_xx,val_yx,x_diff,y_diff,w,h
0,0.0,Full name,108,202,113.0,238.0,1728.0,291.0,5,36,1615,53
1,1.0,Passport,1235,314,1240.0,319.0,1265.0,344.0,5,5,25,25
2,2.0,National ID,1433,314,1438.0,319.0,1463.0,344.0,5,5,25,25
3,3.0,Nationality 1,107,317,436.0,301.0,868.0,355.0,329,-16,432,54
4,4.0,Identity document,942,317,NaN,NaN,NaN,NaN,-942,-317,0,0

In [116]:
rs_df = rs_df.drop(columns=['Unnamed: 0'])

In [117]:
rs_df.shape

(66, 11)

In [118]:
rs_df = rs_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [119]:
rs_df.shape

(56, 11)

In [120]:
rs_df[['val_x', 'val_y', 'x_diff', 'y_diff', 'w', 'h']] = rs_df[['val_x', 'val_y', 'x_diff', 'y_diff', 'w', 'h']].astype('int32')

In [121]:
rs_df.head()

,keyword,keyword_x,keyword_y,val_x,val_y,val_xx,val_yx,x_diff,y_diff,w,h
0,Full name,108,202,113,238,1728.0,291.0,5,36,1615,53
1,Passport,1235,314,1240,319,1265.0,344.0,5,5,25,25
2,National ID,1433,314,1438,319,1463.0,344.0,5,5,25,25
3,Nationality 1,107,317,436,301,868.0,355.0,329,-16,432,54
5,Passport / National ID,942,377,1242,363,1728.0,416.0,300,-14,486,53

In [122]:
rs_df[rs_df["keyword"] == "Other_martial"]

,keyword,keyword_x,keyword_y,val_x,val_y,val_xx,val_yx,x_diff,y_diff,w,h
13,Other_martial,1614,514,1619,519,1645.0,543.0,5,5,26,24

In [123]:
words = rs_df.iloc[:, [0, 3, 4, 7, 8, 9, 10]].values

In [124]:
records = {}
records["keywords"] = []

In [125]:
for word in words:
    records["keywords"].append({
        "word": word[0],
        "corr": [word[1], word[2], word[5], word[6]],
        "diff": [word[3], word[4], word[5], word[6]],
        "processed": False
    })

In [126]:
print(records)

{'keywords': [{'word': 'Full name', 'corr': [113, 238, 1615, 53], 'diff': [5, 36, 1615, 53], 'processed': False}, {'word': 'Passport', 'corr': [1240, 319, 25, 25], 'diff': [5, 5, 25, 25], 'processed': False}, {'word': 'National ID', 'corr': [1438, 319, 25, 25], 'diff': [5, 5, 25, 25], 'processed': False}, {'word': 'Nationality 1', 'corr': [436, 301, 432, 54], 'diff': [329, -16, 432, 54], 'processed': False}, {'word': 'Passport / National ID', 'corr': [1242, 363, 486, 53], 'diff': [300, -14, 486, 53], 'processed': False}, {'word': 'Nationality 2 (if dual)', 'corr': [436, 367, 432, 54], 'diff': [329, -16, 432, 54], 'processed': False}, {'word': 'Date of birth', 'corr': [436, 437, 432, 54], 'diff': [331, -12, 432, 54], 'processed': False}, {'word': 'KRA Pin No.', 'corr': [1136, 439, 592, 53], 'diff': [195, -12, 592, 53], 'processed': False}, {'word': 'Male', 'corr': [432, 519, 24, 23], 'diff': [6, 5, 24, 23], 'processed': False}, {'word': 'Female', 'corr': [594, 519, 25, 24], 'diff': [6, 5, 25, 24], 'processed': False}, {'word': 'Married', 'corr': [1236, 518, 25, 25], 'diff': [6, 4, 25, 25], 'processed': False}, {'word': 'Single', 'corr': [1434, 519, 25, 23], 'diff': [6, 5, 25, 23], 'processed': False}, {'word': 'Other_martial', 'corr': [1619, 519, 26, 24], 'diff': [5, 5, 26, 24], 'processed': False}, {'word': 'High School', 'corr': [434, 561, 24, 23], 'diff': [6, 5, 24, 23], 'processed': False}, {'word': 'Diploma', 'corr': [644, 560, 25, 25], 'diff': [6, 4, 25, 25], 'processed': False}, {'word': 'Undergraduate', 'corr': [791, 560, 25, 25], 'diff': [6, 4, 25, 25], 'processed': False}, {'word': 'Ed_post-graduate', 'corr': [1028, 560, 24, 25], 'diff': [1028, 560, 24, 25], 'processed': False}, {'word': 'Ed_others', 'corr': [1237, 560, 25, 25], 'diff': [1237, 560, 25, 25], 'processed': False}, {'word': 'Telephone (Mobile)', 'corr': [542, 701, 539, 54], 'diff': [437, -11, 539, 54], 'processed': False}, {'word': 'Telephone (Office)', 'corr': [542, 765, 754, 53], 'diff': [437, -10, 754, 53], 'processed': False}, {'word': 'Preferred email address (Mandatory)', 'corr': [542, 827, 1184, 53], 'diff': [436, -12, 1184, 53], 'processed': False}, {'word': 'Preferred email address (Mandatory)_2', 'corr': [542, 889, 1184, 53], 'diff': [542, 889, 1184, 53], 'processed': False}, {'word': 'Mailing address', 'corr': [542, 952, 1184, 54], 'diff': [435, -76, 1184, 54], 'processed': False}, {'word': 'Self-owned', 'corr': [542, 1038, 25, 24], 'diff': [5, 5, 25, 24], 'processed': False}, {'word': 'Other', 'corr': [1242, 1037, 25, 24], 'diff': [6, 4, 25, 24], 'processed': False}, {'word': 'Rented', 'corr': [765, 1038, 24, 23], 'diff': [-34, 1, 24, 23], 'processed': False}, {'word': 'Physical Residential address', 'corr': [542, 1088, 1185, 54], 'diff': [435, -12, 1185, 54], 'processed': False}, {'word': 'Physical Residential address_1', 'corr': [542, 1152, 1185, 50], 'diff': [542, 1152, 1185, 50], 'processed': False}, {'word': 'Mailing address_check_box', 'corr': [540, 1222, 24, 24], 'diff': [6, 5, 24, 24], 'processed': False}, {'word': 'Residential Address', 'corr': [864, 1222, 24, 24], 'diff': [6, 5, 24, 24], 'processed': False}, {'word': 'Employee’s Address', 'corr': [1242, 1222, 25, 23], 'diff': [6, 5, 25, 23], 'processed': False}, {'word': 'Salaried', 'corr': [547, 1431, 23, 23], 'diff': [7, 5, 23, 23], 'processed': False}, {'word': 'Self-employed', 'corr': [702, 1431, 24, 23], 'diff': [6, 5, 24, 23], 'processed': False}, {'word': 'Permanent', 'corr': [1257, 1431, 25, 23], 'diff': [6, 5, 25, 23], 'processed': False}, {'word': 'Contract', 'corr': [1444, 1431, 24, 23], 'diff': [6, 5, 24, 23], 'processed': False}, {'word': 'Others_employment_terms', 'corr': [1606, 1431, 24, 23], 'diff': [7, 5, 24, 23], 'processed': False}, {'word': 'Name of employer / business', 'corr': [545, 1486, 1181, 54], 'diff': [438, -6, 1181, 54], 'processed': False}, {'word': 'Occupation / designation', 'corr': [545, 1548, 1181, 53], 'diff': [439, -7, 1181, 53], 'processed': False}, {'word': 'Employment / staff number', 'corr': [545, 1610, 373, 53], 'diff': [438, -8, 373, 53], 'processed': False}, {'word': 'Contact at employer', 'corr': [1295, 1610, 431, 53], 'diff': [328, -8, 431, 53], 'processed': False}, {'word': 'Contract tenure', 'corr': [545, 1671, 373, 53], 'diff': [439, -10, 373, 53], 'processed': False}, {'word': 'Contract expiry', 'corr': [1295, 1671, 430, 53], 'diff': [328, -10, 430, 53], 'processed': False}, {'word': 'Years', 'corr': [545, 1733, 108, 53], 'diff': [-102, 3, 108, 53], 'processed': False}, {'word': 'Months', 'corr': [744, 1734, 107, 52], 'diff': [-101, 4, 107, 52], 'processed': False}, {'word': 'Salary receipt date', 'corr': [1294, 1732, 111, 52], 'diff': [327, -12, 111, 52], 'processed': False}, {'word': 'Monthly gross income', 'corr': [545, 1794, 370, 54], 'diff': [438, -13, 370, 54], 'processed': False}, {'word': 'Rental income', 'corr': [1295, 1794, 431, 52], 'diff': [327, -13, 431, 52], 'processed': False}, {'word': 'Address of employer (for salaried employees) / Address of business (for self-employed)', 'corr': [112, 1929, 1614, 54], 'diff': [7, 59, 1614, 54], 'processed': False}, {'word': 'Address of employer (for salaried employees) / Address of business (for self-employed)_1', 'corr': [112, 1996, 1614, 53], 'diff': [112, 1996, 1614, 53], 'processed': False}, {'word': 'Account with Standard Chartered Bank (if applicable)', 'corr': [865, 2194, 861, 53], 'diff': [760, -8, 861, 53], 'processed': False}, {'word': 'Original Loan Amount', 'corr': [792, 2359, 467, 52], 'diff': [-89, 43, 467, 52], 'processed': False}, {'word': 'Original Loan Amount_1', 'corr': [792, 2412, 467, 52], 'diff': [792, 2412, 467, 52], 'processed': False}, {'word': 'Bank Name', 'corr': [110, 2359, 682, 52], 'diff': [-261, 42, 682, 52], 'processed': False}, {'word': 'Bank Name_1', 'corr': [110, 2412, 682, 52], 'diff': [110, 2412, 682, 52], 'processed': False}, {'word': 'Monthly loan instalment', 'corr': [1258, 2359, 468, 52], 'diff': [-77, 42, 468, 52], 'processed': False}, {'word': 'Monthly loan instalment_1', 'corr': [1258, 2412, 468, 52], 'diff': [1258, 2412, 468, 52], 'processed': False}]}

In [127]:
with open('corrdinate_detection\\keywords\\'+page+'.json', 'w') as json_file:
    json.dump(records, json_file)